/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  box-sizing: border-box;
  font-family: helvetica;
  font-weight: bold;
}

.octodex{
  max-height: 520px;

}

.octocat {
  display: inline-block;
  max-width: 400px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  margin: 0 10px;
}

.authors {
  display: inline-block;
  position: relative;
}

.authors:before {
  position: absolute;
  top: -13px;
  right: 7px;
  content:"";
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 7px solid gray;
}

.image-number {
  position: relative;
  top: 10px;
  float: left;
  color: rgba(0,0,0,.5);
}

.image-caption {
  display: inline-block;
  float: right;
  position: relative;
  padding: 10px 0;
}

.image-footer {
  max-width: 400px;
  max-height: 100px;
  margin: 0 10px;
}

.octocat img {
  height: 400px;
  width: 400px;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 1%;
}

.authors img {
  max-width: 20px;
  max-height: 20px;
  float: right;
  margin: 0 2px;
  border-radius: 20%;
  position: relative;
  top: 0px;
  display: inline-block;
}

.image-caption span {
  color: rgba(0,0,0,.5);
}

.image-caption a {
  color: rgba(0,0,0,1);
  text-decoration: none;
}

.image-number:before {
  content: "#";
}

.image-caption > span,
.image-caption > a{
  display: inline-block;
  position: relative;
  top: -5px;

}
